<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACB</key>
	<string>Simon Allardice</string>
	<key>Vietnam Investment Group</key>
	<string>Simon Allardice</string>
	<key>Ho Chi Minh Securities</key>
	<string>Bill Weinman</string>
	<key>PwC </key>
	<string></string>
	<key>Kinh Do</key>
	<string></string>
	<key>Visa</key>
	<string></string>
	<key>VinaCapital</key>
	<string></string>
</dict>
</plist>
